<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Custom Counter Component </h2>
    <p>Click + or - to adjust counter...</p>
    <custom-counter value="2">
      <!-- <p>My counter works!</p> -->
    </custom-counter>
    <script type='text/javascript' src='/js/component/counter/counter.js'></script>
  </body>
</html>
